.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  position: absolute;
  width: 100%;
  background-color: rgb(60, 135, 195);
  padding: 10px;
}

.title {
  font-weight: 500;
  font-size: 2.5rem;
  color: white;
}

.firstFooter {
  height: 8vh;
  background-color: rgb(56, 56, 56);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.linkContainer {
  flex: 1;

  display: flex;
  justify-content: center;
}

.link {
  color: white;
  font-size: 18px;
  margin-left: 6px;
}

.linkBadge {
  width: fit-content;
  background-color: transparent;
  padding: 5px;
  border-radius: 12px;

  transition: background-color 0.2s ease;
}

.linkBadge:hover {
  background-color: rgb(98, 95, 95);
  cursor: pointer;
}

.secondFooter {
  background-color: rgb(34, 34, 34);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4vh;
}

.copyright {
  color:lightgray;
}